
@font-face {
    font-family: "Calibri";
    src: url(./Calibri.ttf) format("truetype");
}

* {
	 font-family: "Calibri", Arial, sans-serif, "Microsoft YaHei", "微软雅黑", 
             STXihei, "华文细黑";
          /*   font-family : Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}

* {
	box-sizing: border-box;
}

a:link {
    text-decoration: none;
       color:#fff;
}

a:visited {
    text-decoration: none;
       color:#fff;
}

a:hover {
    text-decoration: none;
   color:#fff;
}

a:active {
    text-decoration: none;
       color:#fff;
}