<div class = "row">
<h4 class = "col">上过的课</h4>

</div>
          

         
            <div id="table-scroll">
            <table class="highlight center">
                <thead>
                <tr>
                    <th data-field="course">课名</th>  
                    <th data-field="time">时间</th>
                    <th data-field="location">地点</th>
                    <th data-field="duration">时长</th>
                    <th data-filed="people">人数</th>
                    <th data-filed="price">价格</th>
                    <th data-field="description">描述</th>                                    
                </tr>
                </thead>
             
                <tbody>
                       <tr *ngFor = "#timeslot of Timeslots">
                    <td  style="width:15%"class="course">{{timeslot.course_id}}</td>  
                    <td  style="width:10%" class="time">{{timeslot.start_time | date: 'medium'}}</td>
                    <td  style="width:10%" class="location">{{timeslot.address}}</td>
                    <td  style="width:10%"  class="duration">{{(timeslot.end_time - timeslot.start_time)/1000/60}}</td>
                    <td  style="width:10%"><a [attr.data-target]="timeslot.id" class="btn orange darken-2 modal-trigger" >{{timeslot.current_apps}}/{{timeslot.capacity}}</a></td>
                     <td  style="width:10%"  class="price">{{timeslot.fee }}</td>
                    <td class="description">{{timeslot.description}}</td>
                      <!-- Modal Trigger -->
                  <!-- Modal Structure -->
                  <div id="{{timeslot.id}}" class="modal">
                    <div class="modal-content">
                    <p>{{timeslot.course}}</p>
                     <table class="highlight center">
                      <thead>
                        <tr>
                          <th data-field= "name">名字</th>
                          <th data-field= "email">Email</th>
                          <th data-field = "wechat">微信号</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="#app of timeslot.appointments">
                          <td>{{app.student.id}}</td>
                          <td>{{app.student.username}}</td>
                          <td>{{app.timestamp}}</td>
                          <td><a class="btn orange darken-2">删</a></td>
                        </tr>
                      </tbody>
                             </table>
                    </div>
  
                  </div>

                                 
                </tr>

                </tbody>
            </table>    

            </div>


