#jum {
    width: 100%;
    height:150px;
    background-image: url("app/tutprofile/profile.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;

}

#photo {
	width:150px;
	height:150px;
    border-radius: 50em;

}

#leftCol {
    position:relative;
    top:-30px;
}

