/*table{
    max-height:200px;
    max-width: 10px;
    overflow: scroll;
}

table tbody tr{
    position:relative;
    top:-20px;
    z-index:2;
    height:20px;
}*/

#modifyBox {
	border:solid 1px;
	border-radius: 10px;
}
/*
table {

		width:40px;
        display: block;
        overflow-x: auto;
    }*/


    