<div class = "row">
<h4 class = "col">即将上的</h4>
 <a class = "col btn orange darken-2" [routerLink]= "['Post']">开新课</a>

</div>


             <form [hidden]= "!modSlot"  (ngSubmit) ="modify()">
             <div id="modifyBox">
             <div class="row">
                <div class="input-field col s6 m6">
                    <input id="datetimepicker" ngControl = "start_time" [(ngModel)] = "modSlot.start_time" name="start_time" value = "{{modSlot.start_time}}" type="text" required ><br>
                     <label class="active">Select the Time</label>
                 </div>

                  <div class="form-group col s6 m6 l6">
                    <label for="capacity">Capacity</label>
                    <select ngControl = "capacity" [(ngModel)] = "modSlot.capacity"  class="form-control" required >
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                  </div>
             </div>
               <div class = "row">
               <div class="form-group col s6 m6 l6">
                    <label for="course">Course</label>
                    <select class="form-control" required ngControl = "course_id" required [(ngModel)] = "modSlot.course_id">
                <option *ngFor ="let course of Courses" >{{course}}</option> 
                </select> 
                </div>
               <div class="input-field col s6 m6">
                  <input  ngControl = "duration"  [(ngModel)] = "modSlot.duration"  type="text" ><br>
                    <label class = "active">Duration</label>
               </div>
               </div>

             <div class = "row">

                   <div class="input-field col s6 m6">
                    <input  ngControl = "fee" [(ngModel)] ="modSlot.fee" type="text" ><br>
                    <label class = "active">Fee</label>
                    </div>


                  <div class="input-field col s6 m6">
                        <input  ngControl = "address" [(ngModel)] = "modSlot.address" type="text" ><br>
                        <label class="active">Address</label>
                 </div>
              </div>
                   
<!-- 
                     <div class="input-field col s12 ">
                    <input  value = "{{modSlot.description}}" type="text" ><br>
                    <label class = "active" length="20">Description - no more than 20 chars</label>
                    </div> -->

            <button type="submit" class = "btn orange darken-2">save</button>
            <a class="btn orange darken-2" (click)="closeModify()">close</a>
            <a class="btn red" (click)="deleteSlot(modSlot.id)">DELETE</a>
            </div>

             </form>
             <div *ngIf = "!Timeslots">
                  你没课
             </div>

         
             <div *ngIf = "Timeslots" id="no-more-tables">
            <table class="highlight center card">
                <thead>
                <tr>
                    <th data-field="course">课名</th>  
                    <th data-field="time">时间</th>
                    <th data-field="location">地点</th>
                    <th data-field="duration">时长</th>
                    <th data-filed="people">人数</th>
                    <th data-filed="price">价格</th>
                    <th data-field="description">描述</th>                                    
                </tr>
                </thead>
             
                <tbody>
                <tr *ngFor = "let timeslot of Timeslots | paginate: { itemsPerPage: 5, currentPage: p }">
                    <td  style="width:15%"class="course">{{timeslot.course_id}}</td>  
                    <td  style="width:10%" class="time">{{timeslot.start_time | date: 'medium'}}</td>
                    <td  style="width:10%" class="location">{{timeslot.address}}</td>
                    <td  style="width:10%"  class="duration">{{(timeslot.end_time - timeslot.start_time)/1000/60}}</td>
                    <td  style="width:10%"><a [attr.data-target]="timeslot.id" class="btn orange darken-2 modal-trigger" >{{timeslot.current_apps}}/{{timeslot.capacity}}</a></td>
                     <td  style="width:10%"  class="price">{{timeslot.fee }}</td>
                    <td class="description">{{timeslot.description}}</td>
                    <td style="width:1%"> <a class = "btn orange darken-2" (click)="modifyOpen(timeslot)"> modify</a></td>
                      <!-- Modal Trigger -->
                  <!-- Modal Structure -->
                  <div id="{{timeslot.id}}" class="modal">
                    <div class="modal-content">
                    <p>{{timeslot.course}}</p>
                     <table class="highlight center">
                      <thead>
                        <tr>
                          <th data-field= "name">名字</th>
                          <th data-field= "email">Email</th>
                          <th data-field = "wechat">微信号</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="#app of timeslot.appointments">
                          <td>{{app.student.id}}</td>
                          <td>{{app.student.username}}</td>
                          <td>{{app.timestamp}}</td>
                          <td><a class="btn orange darken-2">删</a></td>
                        </tr>
                      </tbody>
                             </table>
                    </div>
                  </div>

                                 
                </tr>
                </tbody>
            </table> 
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
 
            </div>  

 


