<h4>我的预订</h4>
            <div id="table-scroll">
            <table class="highlight center">
                <thead>
                <tr>
                    <th data-field="id">时间</th>
                    <th data-field="id">上课人数</th>
                    <th data-field="name">时长</th>
                    <th data-field="price">地点</th>
                    <th data-field="content">内容</th>
                </tr>
                </thead>
             
                <tbody >
                <tr>
                    <td class = "time"></td>
                    <td class = "people"></td>
                    <td class = "duration"></td>
                    <td class = "location"></td>
                    <td class = "content">Math135</td>
                </tr>

                </tbody>
            </table>    

            </div>


