<div class = "row">
<h4 class = "col">我的预订</h4>
</div>
             <div id="table-scroll">
            <div *ngIf = "!Timeslots">
                  你没课
             </div>
            <table class="highlight center card" *ngIf= "Timeslots">
                <thead>
                <tr>
                    <th data-field="course">课名</th>  
                    <th data-field="time">时间</th>
                    <th data-field="location">地点</th>
                    <th data-field="duration">时长</th>
                    <th data-filed="people">人数</th>
                    <th data-filed="price">价格</th>
                    <th data-field="description">描述</th>                                    
                </tr>
                </thead>
             
                <tbody>
                <tr  *ngFor = "let timeslot of Timeslots | paginate: { itemsPerPage: 5, currentPage: p }">
                    <td  style="width:15%"class="course">{{timeslot.timeslot.course}}</td>  
                    <td  style="width:10%" class="time">{{timeslot.timeslot.start_time| date: 'medium'}}</td>
                    <td  style="width:10%" class="location">{{timeslot.timeslot.address}}</td>
                    <td  style="width:10%"  class="duration">{{(timeslot.timeslot.end_time- timeslot.timeslot.start_time)/1000/60}}</td>
                    <td  style="width:10%">{{timeslot.timeslot.current_apps}}/{{timeslot.timeslot.capacity}} </td>
                     <td  style="width:10%"  class="price">{{timeslot.timeslot.fee | currency:'USD':true}}</td>
                    <td class="description">{{timeslot.timeslot.description}}</td>
                    <td style="width:1%"> <a class = "btn orange darken-2" (click)="cancel(timeslot.timeslot.id)"> cancel</a></td>
                                  
                </tr> 
<!-- 
                  <tr *ngFor = "#timeslot of Timeslots.timeslot">
                    <td  style="width:15%"class="course">{{timeslot.course_id}}</td>  
                    <td  style="width:10%" class="time">{{timeslot.start_time | date: 'medium'}}</td>
                    <td  style="width:10%" class="location">{{timeslot.address}}</td>
                    <td  style="width:10%"  class="duration">{{(timeslot.end_time - timeslot.start_time)/1000/60}}</td>
                  
                   <td  style="width:10%"  class="price">{{timeslot.fee }}</td>
                    <td class="description">{{timeslot.description}}</td>
                    <td style="width:1%"> <a class = "btn" (click)="modifyOpen(timeslot)"> modify</a></td> -->

                </tbody>
            </table>    
            <pagination-controls (pageChange)="p = $event"></pagination-controls>

            </div>


