
.background-image {
  position: absolute;
  left: 0;
  right: 0;
  top:-7rem;
  z-index: 1;
  height:600px;
    display: block;
   background-image: url("app/home/home.JPG");
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;
     -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
/*
#jum {
    width: 100%;
    height:100%;
   
       z-index: 9999
        height: 600px;
        position: relative;
        top: -15rem;
}

*/
#search {
    position: relative;
    top:4rem;
}
#jumword {
 
    color:white;
    position: relative;

    margin-top: 7%;
    text-align: center;
     z-index: 2
}

/*html,body {height:90%;}*/



#emptybox{
    height: 600px;
    width: 100%;
}

#teacherbox{
    width:100%;
    /*height: 700px;*/

}



#picture1,#picture3{
    padding-right: 1.75%;
}

#picture2,#picture4{
    padding-left: 1.75%;
}

.tpic {
    max-width:100%;
    height:300px;
}

@media (max-width: 993px) {
    .tpic {
        width:100%;
        height:200px;

    }

    /*#teacherbox {*/
        /*height:500px;*/
    /*}*/
    /*#picture4{*/
        /*margin-bottom: 10px;*/
    /*}*/
}

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

@media (max-width: 600px) {
    .tpic {
        width:100%;
        height:200px;
        margin:5px;
    }

    /*#teacherbox {*/
        /*height:1000px;*/
    /*}*/
}




/*body {*/
    /*display: flex;*/
    /*min-height: 100vh;*/
    /*flex-direction: column;*/
/*}*/

/*main {*/
    /*flex: 1 0 auto;*/
/*}*/

nav,
nav .nav-wrapper i,
nav a.button-collapse i {
    height: 50px;
    line-height: 50px;
}


/*.tt-menu{
    border: 5px solid red;
}
*/

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  color:black;
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}