#jum {
    width: 100%;
    height:100%;
    background-image: url("app/courses/course.JPG");
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;
    height: 100px;
  /*  position: relative;
    top: -150px;*/
}


.card-image {
    /*maximum width of the div in the parent div*/
    width:100%;
height:100%;
  /*  background-image: url("http://placehold.it/500x300");*/

}
#image{
	/*position: absolute;*/
    z-index: 1;
}

.bookmark  {
  z-index:99;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}


.bookmark-icon {
	  position: absolute;
	  top:-0.1rem;
	  right:0.1rem;
}
/*
.preloader-wrapper {
  height:1000px;
}*/