#jum {
  position:absolute;
  z-index: -100;
    width: 100%;
    height: 200px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
    background-image: url("app/images/backgrounds/16pic_hd.png");
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;

  /*  position: relative;
    top: -150px;*/
}

.jumWord {
  margin:auto auto;
  color:white;
  padding-top:70px;
  padding-bottom: 70px;
}


.card-image {
    /*maximum width of the div in the parent div*/
    width:100%;
height:100%;
  /*  background-image: url("http://placehold.it/500x300");*/

}
#image{
	/*position: absolute;*/
    z-index: 1;
}

.bookmark  {
  z-index:99;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}


.bookmark-icon {
	  position: absolute;
	  top:-0.1rem;
	  right:0.1rem;
}

.courseBtn{
  text-align: center;
}
/*
.preloader-wrapper {
  height:1000px;
}*/