<div  id = "jum">
    <!-- <navbar></navbar> -->
</div>

<section id="classcatbox">

    <div>               
      <div class="row">
        <div *ngFor="#course of Courses" class="col s12 m4">
          <div class="card">
              <div class="card-image s12 m12 l12">
                
              <a class="btn-floating btn waves-effect waves-light red bookmark"><i class="fa fa-2x fa-bookmark bookmark-icon" ></i></a>       
               <img src="{{course.imageURL}}" id="image">       
               <span class="card-title" style="z-index:3">{{course.name}} </span>   
              </div>
                          
             <div class="card-content ">
              {{course.description}} 
              <br>
              <a class="waves-effect waves-light btn" (click)="gotoDetail(course.id)"> 查看课程教师</a>
            </div>
            <div class="card-action">
              <a>老师数量：{{course.numTutor}}</a>
              <a>销量：{{course.sales}}</a>
            </div>
          </div>
        </div>
      </div>         
    </div>
    <section>


