@font-face {
    font-family: 'Trajan'; /*a name to be used later*/
    src: url('fonts/Trajan-Pro-Regular.ttf'); /*URL to font*/
}

#jum {
  position:absolute;
  z-index: -100;
    width: 100%;
    height: 200px;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
    background-image: url("app/images/backgrounds/16pic_hd.png");
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;
  /*  position: relative;
    top: -150px;*/
}

.jumWord {
  margin:auto auto;
  color:white;
  padding-top:70px;
  padding-bottom: 60px;
  margin: -10px -10px -10px -10px;
}


.card-image {
    /*maximum width of the div in the parent div*/
    width:100%;
height:100%;
  /*  background-image: url("http://placehold.it/500x300");*/

}
#image{
	/*position: absolute;*/
    z-index: 1;
}

.bookmark  {
  z-index:99;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}


.bookmark-icon {
	  position: absolute;
	  top:-0.1rem;
	  right:0.1rem;
}

.courseBtn{
  background-color: #8dc63f;
  padding-top:5px;
  text-align: center;
        width:130px;
      height:40px;
/*
    background-image: url("app/images/elements_courses/course-button.png");*/

}

#categoryHead {
  background-image: url("app/images/elements_courses/small-bar.png");
  font-family: 'Trajan';
  font-size:35px;
  width:102%;
  -webkit-clip-path: polygon(0 0, 100% 0,100% 50%, 0 100%);
  height:60px;
  color:white;
}

.row .col {
      padding: 0 0;
}


/*
.preloader-wrapper {
  height:1000px;
}*/