  
<section *ngIf="Subject">
    <div class="container">
        <div class="row">
<!--             <div class="center-align"> -->
                <h3 class="center-align"> {{Subject.id | uppercase}} </h3>
              <!--   <p class="center">{{Subject.course_description}}</p> -->
<!--             </div> -->
        </div>
    </div>
</section>

<section>

      <div class="row">
          
       <div *ngIf = "loading" class="preloader-wrapper big active col offset-s6">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>

        <div *ngFor="let teacher of Teacher" >

<!--           <div class="card">
              <div class="card-image s12 m12 l12">
               
              <a class="btn-floating btn waves-effect waves-light red bookmark"><i class="fa fa-2x fa-bookmark bookmark-icon" ></i></a> 
                   <img src="http://placehold.it/500x500" id="image">         
               <img src="{{teacher.imageURL}}" id="image">       
               <span class="card-title" style="z-index:3">{{teacher.username}} </span>   
              </div>
                         
             <div class="card-content ">
              {{teacher.teacher_descripition}} 
              <br>
              <a class="waves-effect waves-light btn" (click)="gotoDetail(Subject.id,teacher.id)"> 
              Check Timeslot
            </a>

            </div>
            <div class="card-action">
              <a>均价：{{teacher.avgpr}}</a>
              <a>销量：{{teacher.sales}}</a>
            </div>
          </div> -->
          
          <div class=" card " > 

          <div class="row">

          <div class="col s12 m12 l2  border-left center">
       <!--    <div class="row"> -->
          <img src="http://placehold.it/100x100" class="circle pic">
       <!--    </div> -->
          <!-- <div class="row"> -->
         <h4 class="center"><a (click)="seeProfile(teacher.id)">{{teacher.username}}</a></h4>
          <!-- </div> -->
        </div>

        <div class="col s12 m12 l7">
         {{teacher.teacher_descripition}} 
         <div style="font-size: 20px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It 
         </div>
        </div>

        <div class="col s12 m12 l3 ">
        <div class="border-right center">
         <h5>均价：{{teacher.avgpr}}</h5>
         <h5>销量：{{teacher.sales}}</h5>
         
         <a class="waves-effect waves-light btn" (click)="gotoDetail(Subject.id,teacher.id)"> 
              Check Timeslot
            </a>
        </div>
        </div>

       </div>
        </div>
        
      </div>                 
    </div>

</section>
