
<section *ngIf="Subject">
    <div class="container">
        <div class="row">
            <div class="col l10">
        <h3 class="center"> {{Subject.id}} </h3>
                <p class="center">{{Subject.course_description}}</p>
            </div>
        </div>
    </div>
</section>

<section>
 <div>
      <div class="row">
        <div *ngFor="#teacher of Teacher" class="col s12 m4">
          <div class="card">
              <div class="card-image s12 m12 l12">
               
              <a class="btn-floating btn waves-effect waves-light red bookmark"><i class="fa fa-2x fa-bookmark bookmark-icon" ></i></a> 
                   <img src="http://placehold.it/500x500" id="image">         
               <img src="{{teacher.imageURL}}" id="image">       
               <span class="card-title" style="z-index:3">{{teacher.username}} </span>   
              </div>
                         
             <div class="card-content ">
              {{teacher.teacher_descripition}} 
              <br>
              <a class="waves-effect waves-light btn" (click)="gotoDetail(Subject.id,teacher.id)"> 
              Check Timeslot
            </a>

            </div>
            <div class="card-action">
              <a>均价：{{teacher.avgpr}}</a>
              <a>销量：{{teacher.sales}}</a>
            </div>
          </div>
        </div>
      </div>                 
    </div>

</section>
