<navbar></navbar>
<section>
    <div class="container">
        <div class="row">
            <div class="col l10">
        <h3 class="center">MATH136</h3>
                <p class="center">math135是一门有关于逻辑证明的数学课 他是math136的前置课程 内容包括命题的证明 整除同余及最大公约数的性质还有复数和多项式的应用 其中很多内容在之后的数学课甚至其他课程中都有很大的体现 主要训练逻辑思维</p>
            </div>
            <div class="col l2">
                <p>热门老师排行</p>
            </div>
        </div>
    </div>
</section>

<section>
 <div>
      <div class="row">
        <div class="col s12 m4">
          <div class="card ">
           
              <div class="card-image s12 m12 l12">
              <a class="btn-floating btn waves-effect waves-light red"><i class="fa fa-2x fa-bookmark"></i></a>
              <a class="card-title" >老板</a>

            </div>
             <div class="card-content ">
              <p>我是老板.</p>
            </div>
            <div class="card-action">
              <a href="#">我叼很大</a>
              <a href="#">你们掉很小</a>
            </div>
            
          </div>
        </div>
      </div>                 
    </div>

</section>
<footer></footer>