<div id="jum"></div>
<div *ngIf = "TutProfile" class = "container">
   <section class = "row">
      <div id = "leftCol" class = "col s12 m3">
         <div class = "row center-align">
            <img *ngIf = "TutProfile.photo" class="photo" [src] = "photoURL">
            <img *ngIf = "!TutProfile.photo" class="photo" src = "http://placehold.it/150x150">
         </div>
         <div class = "row center-align">
            {{TutProfile.username}}
         </div>
         <div class = "row center-align">
            毕业时间: {{TutProfile.grad_year}}
         </div>
         <div class = "row center-align">
            Phone: {{TutProfile.phone}}
         </div>
         <div class = "row center-align">
            WeChat: {{TutProfile.wechat}}
         </div>
      </div>
      <div id = "rightCol" class = "col s12 m8 offset-m1">
         <h4>个人介绍</h4>
         <p>我是老板，老板很帅</p>
         <h4>课程</h4>
         <div  *ngFor = "let course of Courses" class = "course">
            <a class = "col m3 btn" (click)="gotoDetail(course.id,TutProfile.id)">{{course.id}}</a>
         </div>
      </div>
   </section>
</div>
<div class="container">
<h3>Comments</h3>
<div id = "comment" *ngFor = "#course of Courses" class = "row">
   <h4>{{course.id | uppercase}}</h4>
   <div *ngFor = "let review of course.reviews" id="commentbox">
      <div class ="row">
         <div class = "col m3 center-align">
            <img src = "http://placehold.it/50x50">
            <p>{{review.rating}}</p>
         </div>
         <div class = "commentContent col m9">
            <p>{{review.timestamp|date:"medium"}}</p>
            <p>{{review.text}}</p>
         </div>
      </div>
   </div>
</div>