<div *ngIf = "Tutorclass" id ="jum">
<h5  class = "center">{{Tutorclass[0].tutor_name}}的{{Subject}}</h5>
</div>

<section>
    <div class="container" id="table">
            <div id="table-scroll">
            <table class="highlight center">
                <thead>
                <tr>
                    <th data-field="course">课名</th>  
                    <th data-field="time">时间</th>
                    <th data-field="location">地点</th>
                    <th data-field="duration">时长</th>
                    <th data-filed="people">人数</th>
                      <th data-filed="price">价格</th>
                    <th data-field="description">描述</th>                                    
                </tr>
                </thead>            
                <tbody>
                <tr *ngFor = "#timeslot of Timeslots"> 
                    <td  style="width:10%" class="time">{{timeslot.start_time}}</td>                   
                     <td  style="width:10%" class="location">{{timeslot.address}}</td>

                    <td  style="width:10%"  class="duration">{{timeslot.start_time - timeslot.end_time }}</td>
                    <td  style="width:10%"><a class ="people"></a>{{timeslot.current_apps}}/{{timeslot.capacity}}</td>
                     <td  style="width:10%"  class="price">{{timeslot.fee}}</td>
                   <!--  <td class="description">{{timeslot.description}}</td> -->
                    <td><a class="btn">预订课程</a></td>                
                </tr>
                </tbody>
            </table>    
            </div>
        </div>
        </section>

<!-- <div class="container" id="commentbox" >
<div id = "comment" *ngFor = "#comment of Comment" class = "row ">
       <div class = "col m2 center-align">
           <div class ="row">
               <img src = "http://placehold.it/50x50">
           </div>
           <div class ="row">
              <p>{{comment.faculty}}</p>

           </div>
       </div>

       <div class = "commentContent col m10">
            <p>{{comment.time}}</p>
           <p>{{comment.content}}</p>
       </div>

   </div>

</div>
 -->
